@import "../../scss/index.scss";

.bg-main {
  background-color: #fff;
}
.bg-beige {
  background-color: beige;
}

.bg-azure {
  background-color: azure;
}
.section {
  text-align: center;
  padding-bottom: 25px;
  &__title {
    color: $color-main;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    display: inline-block;
    margin: 40px auto;
    font-family: "Varela Round", sans-serif;

    @include mobile {
      margin: 20px 0;
      font-size: 1.2rem;
    }

    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 1px;
      background-color: $color-main;
      bottom: 1px;
      left: 0;
      transition: all 0.3s ease;
    }
    &:hover::after {
      width: 100%;
    }
  }

  &__banner {
    margin-bottom: 15px !important;

    @include mobile {
      margin-bottom: 5px !important;
    }
  }

  &__body {
    margin-bottom: 30px !important;

    @include tablet {
      margin-bottom: 15px !important;
    }

    position: relative;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
    &:hover {
      .button__left {
        visibility: inherit;
        opacity: 1;
        left: 5px;
      }
      .button__right {
        visibility: inherit;
        opacity: 1;
        right: 5px;
      }
    }

    .section-slider__products {
      margin: 0 -10px 25px -10px;

      @include tablet {
        margin: 0px -5px 15px -5px;
      }
    }

    .section-slider__news {
      margin: 0 -10px;
      @include tablet {
        margin-bottom: 10px;
      }
    }

    &-slider_button {
      .button__right,
      .button__left {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        @include flex(center, center);
        border-radius: 50%;
        background-color: #ffe8e2;
        color: $color-main;
        cursor: pointer;

        &:hover {
          background-color: #ffcec2;
        }
      }

      .button__left {
        left: -10px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
      }

      .button__right {
        right: -10px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
      }
    }
  }

  &-product {
    margin: 10px 0 30px 0;
  }
}
